<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="codefist">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("CodeFist", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li ng-controller="LoginCtrl" ng-switch="isLoggedIn()">
                            <a ng-switch-when="false" ng-click="login()" ng-disabled="isLoading()">Login</a>
                            <a ng-switch-when="true" ng-click="logout()">Logout {{username()}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-content" ng-view>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CodeFist</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/codemirror")
    @Scripts.Render("~/bundles/app")
</body>
</html>